<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Butterburn LLC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="web development consulting">
    <meta name="author" content="Malachai Frazier Butterburn LLC">
    <meta name="keywords" content="web design, web development, build websites, website, butterburn, entrepreneur, programmer, ruby, ruby on rails, server, consulting, web company, cto, quality, prototype, mvp, freelance, bootstrap, budget" />

    <!-- Le styles -->
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/lib/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- // <script src="js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.min.css">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      .banner-full {
      width: 100%;
      text-align: center;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>
  <div class="container">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li class="active"><a href="https://twitter.com/Butterburn">@Butterburn</a></li>
          <!-- < li><a href="#">Contact</a></li> -->
        </ul>
        <h3 class="muted">Butterburn LLC</h3>
      </div>

      <hr>

      <div class="jumbotron banner-full">
        <h1>We Build Web Apps <small>(with Rails)</small></h1>
        <p class="lead">Specializing in prototypes, web development consulting and <a href="http://en.wikipedia.org/wiki/Minimum_viable_product">MVPs</a>, our job is to build out your vision. Quickly. You are most likely a solo entrepreneur looking to create a living, breathing prototype, or an overworked team itching for another set of eyes and ears to help with your project. This is what we do. This is what we love. Our client-list is selective, but feel free contact us for a free consultation. We love code and despise forms, so call or email!</p>
        <a class="btn btn-large btn-success" href="mailto:malachaifrazier@gmail.com?subject=Butterburn_Inquiry">Email Malachai</a> <span class="lead"> [or] </span>
        <a class="btn btn-large btn-success" href="tel://248.835.3350">Call Malachai</a>

      </div>

      <hr>

    <div class="container">
      <div class="jumbotron banner-full">
        <p class="lead">In the Metro Detroit Area? Would you like to learn web development with <a href="http://rubyonrails.org/">Ruby on Rails</a>? Are you already a mythical <a href="http://rubyonrails.org/">Ruby on Rails</a> being that yearns to teach? Check out <a href="http://signup.detroitrails.co/">Detroit Rails.</a></p>
        <p class="lead">Are you a music producer and/or artist looking for clients? Check out the working prototype here at <a href="http://shortjab.us/">ShortJab.</a></p>
      </div>
    </div> <!-- /container -->

      <hr>

      <div class="footer">
        <p>&copy; Butterburn 2013 Boyee! Call me @ 248.835.3350 or email <a href="mailto:malachaifrazier@gmail.com?subject=Butterburn_Inquiry">malachaifrazier@gmail.com</a> Find me on the Twitters <a href="https://twitter.com/Butterburn">@Butterburn</a></p>
      </div>

    </div> <!-- /container -->

    <script src="/lib/bootstrap/bootstrap.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37346014-2']);
      _gaq.push(['_setDomainName', 'butterburn.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>

  </body>
</html>
